a {
  text-decoration: none;
}
header{
   background-image: url(header_image.png);
   background-size: cover;
   background-position: center;
   height: 100px;
   width: 100%;
   position: fixed;
   top: 0;
}
.header-logo1 {
   width: 10px;
   z-index: 10;
   display: block;
}
.container {
   width: 1170px;
   margin: 0 auto;
}
.top-wrapper {
   background-image: url(top.png);
   height: 1200px;
   padding-top: 400px;
   padding-left: 570px;
   background-size: cover;
   background-position: center;
}
.top-wrapper p {
   opacity: 0;
}
.twitter {
  margin-bottom: 30px;
  margin-left: 57px;
}
.btn {
  border-radius: 4px;
  display: inline-block;
  padding: 24px 24px;
  text-align: center;
  opacity: 0.1;
  color: white;
}
.btn:hover {
  transition:  all 2s;
  opacity: 0.7;
}
.twitter {
  background-color: #00ffff;
  border-radius: 1000px;
}
.fa {
  margin-right: 10px;
}

