header{
   background-image: url(header_image.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100px;
   width: 100%;
   position: fixed;
   top: 0;
}
.header-logo {
  width: 10px;
  z-index: 10;
  display: block;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
